body {
    font-family: 'Montserrat';
    font-size: .77em;
    padding: 3em;
    justify-content: center;
    display: flex;
    /* align-content: space-around; */
}

button {
    /* font-size: 2em; */
    /* background: #eb94d0; */
}

img {
    /* padding: 1em; */
    margin: .77em 0;
    max-width: 100%;
    height: auto;
}